<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dashboard2</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

     
</head>
<body>

        <!-- MAIN -->
        <div class="main">
            <!-- MAIN CONTENT -->
            <div>
                <iframe src="http://13.124.155.170:3000/d/f4835279-904b-42f2-b87a-409144a4ef79/dashboard-2-ec849c-ec9881-ec8898-eca095?orgId=1&refresh=4s&theme=light&kiosk" width="100%" height="600" frameborder="0"></iframe>            
            </div>
            <!-- END MAIN CONTENT -->
        </div>

    </div>
    <!-- END WRAPPER -->



</body>
</html>
